<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sort 2015 Angular Demo app</title>
    <base href="<%= APP_BASE %>">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/pure.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/grids-responsive.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <script src="/jspm_packages/system.js" charset="utf-8"></script>
    <script src="/config.js" charset="utf-8"></script>
    <script>
      System.import('app');
    </script>
  </head>
  <body>
    <angular2-app>Loading...<angular2-app>
  </body>
</html>
