<section>
  <div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">
      <img src="/img/sort-logo.svg" alt="" />
    </a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a [router-link]="['/Activities']" class="pure-menu-link">Activities</a></li>
      <li class="pure-menu-item"><a [router-link]="['/Tasks']" class="pure-menu-link">Tasks</a></li>
    </ul>

  </div>
  <div class="content-body">
    <router-outlet></router-outlet>
  </div>
</section>
